<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <img src="../../assets/newsicon.png" alt="News" layout-fill>
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="../../assets/weather_icon.png" alt="News" layout-fill>
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="../../assets/newsicon.png" alt="News" layout-fill>
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="../../assets/newsicon.png" alt="News" layout-fill>
    </mat-grid-tile>
  </mat-grid-list>
  