<div class="bg"></div>
<mat-grid-list cols="2" rowHeight="2:1">
    
    <mat-grid-tile>
        <img src="../../assets/img-gen-info.png" alt="News" layout-fill>
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="../../assets/img-prof.png" alt="News" layout-fill routerLink="/profile" >
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="../../assets/img-states.png" alt="News" layout-fill>
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="../../assets/newsicon.png" alt="News" layout-fill routerLink="/news">
    </mat-grid-tile>

    <mat-grid-tile>
        <img src="../../assets/img-gen-info.png" alt="News" layout-fill>
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="../../assets/img-prof.png" alt="News" layout-fill>
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="../../assets/img-states.png" alt="News" layout-fill>
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="../../assets/newsicon.png" alt="News" layout-fill>
    </mat-grid-tile>

    <mat-grid-tile>
        <img src="../../assets/img-gen-info.png" alt="News" layout-fill>
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="../../assets/img-prof.png" alt="News" layout-fill>
    </mat-grid-tile>

  </mat-grid-list>
  