<mat-grid-list cols="2" rowHeight="2:1" >
<div class="bgimg"></div>
    <mat-grid-tile>
        <img src="../../assets/newsicon.png" alt="News" layout-fill routerLink="/news">
        <div>News</div>
    </mat-grid-tile>

    <mat-grid-tile>
        <img src="../../assets/img-gen-info.png" alt="News" layout-fill>
        <div>My India</div>
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="../../assets/img-prof.png" alt="News" layout-fill routerLink="/profile" >
        <div>Profile</div>

    </mat-grid-tile>
    <mat-grid-tile>
        <img src="../../assets/img-states.png" alt="News" layout-fill>
        <div>My States</div>

    </mat-grid-tile>

  </mat-grid-list>
  